.newsletter-container {
    height: 698px;
    background: #F8FDFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter {
    height: 478px;
    width: 1080px;
    left: 121px;
    top: 4680px;
    border-radius: 20px;
    background: #007FF4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.newsletter h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 78px;
    color: #FFFFFF;
}

.newsletter p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    /* identical to box height, or 195% */

    text-align: center;

    color: #FFFFFF;
}

.email{
    position: relative;
}

.email input {
    height: 110px;
    width: 800px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    outline: none;
}

.email button {
    position: absolute;
    background: #007FF4;
    border-radius: 37px;
    height: 74px;
    width: 176px;
    left: 606px;
    top: 14px;
    border-radius: 37px;
    color: white;

}